server:
  port: 8080

db:
  host: '[HOST NAME]'
  database: '[DATABASE NAME]'
  username: '[USERNAME]'
  password: '[PASSWORD]'
  dialect: '[MSSQL]'

crowdsourcer:
  tipos_publicacoes: []
  classes_predictables: []
